/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Дополнительные глобальные стили */

/* Например, установка шрифта для всего приложения */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #dedede !important;
}

/* Дополнительные стили для конкретных элементов */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.inter {
    background-color: #dedede;
}
