.container {
    display: flex;
    margin-left: 350px;
}

.panel {
    display: flex;
    outline: 1px solid;
    background: tan;
    width: 600px;
}

.topPanel {
    display: flex;
}

.hits, .blocks {
   display: flex;
    flex-direction: column;
}

.blocks {
    margin-left: 50px;
}


.fightLog {
    width: 600px;
    height: 200px;
    outline: 1px solid #000;
}

.playerBlock {
    outline: 1px solid;
    width: 450px;
}

.computerBlock {
    width: 450px;
    outline: 1px solid;
}
